.container {
  display: flex;
  flex-direction: row;
  margin: 5rem 22rem;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 1rem;
}

img {
  width: 200px;
}

.modal {
  position: relative;
}
.over {
  display: none;
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.modal:hover .over {
  display: block;
}

h1 {
  margin: 0px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#spec {
  text-align: right;
}
